[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs = ">=1.6.1"
pygments = ">=2.19.0"
pyyaml = ">=6.0.0"

[requires]
python_version = "3.9"
